<div class="content">
    <ul>
        @for (user of users; track user) {
            <div class="usuario-content">
                <div class="usurio-details">
                    <p>Email: {{user.email}}</p>
                    <p>Rol:  {{user.rol}}</p>
                    <p>Contraseña: {{user.password}}</p> 
                    <button class="btn-borrar" (click)="deleteUser(user.email)">Borrar</button><br>
                    <button class="btn-editar" routerLink="/edituseradmin" (click)="sendCredentials(user.email, user.rol)">Editar</button>
                </div>
            </div>
        }
    </ul>
</div>
