@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    background-image: url('https://r4.wallpaperflare.com/wallpaper/728/926/542/library-ladders-candles-shelves-wallpaper-a28152c01d26befb6a08f2c5c0f85942.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
}

.btn-aplicar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f80;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 30px;
    cursor: pointer;
}

.btn-aplicar:hover {
    background-color: #e96b00;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background-color: orange;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-toggle::after {
    content: '\25BC';
    font-size: 10px;
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: #e1e1e1;
}

.content ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content li {
    margin: 10px;
    flex: 1 1 300px;
}

.libros-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid orange;
    flex-direction: column;
}

.libro-image img {
    max-width: 100%;
    border-radius: 10px;
}

.libro-details {
    color: white;
    text-align: center;
}

.libro-details h2,
.libro-details h4 {
    color: orange;
    margin: 5px 0;
}

::placeholder {
    color: black;
    opacity: 1;
}

@media (min-width: 768px) {
    .libros-content {
        flex-direction: row;
        padding: 20px;
    }

    .libro-details {
        text-align: left;
        margin-left: 20px;
    }
}
