@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.container {
    background-image: url('https://r4.wallpaperflare.com/wallpaper/728/926/542/library-ladders-candles-shelves-wallpaper-a28152c01d26befb6a08f2c5c0f85942.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    overflow: auto;
    padding: 20px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    margin: 20px 0;
    font-family: "Nunito", sans-serif
}

.filter-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.filter-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.filter-group input,
.filter-group select {
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #fe911c;
    color: black;
    min-width: 200px;
}

.btn-aplicar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f80;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 30px;
    cursor: pointer;
}

.content ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content li {
    margin: 10px;
    flex: 1 1 300px; 
}

.libros-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(30px);
    margin: 10px 10px;
    border-radius: 15px;
    border: 1px solid orange;
    overflow: auto;
    flex-direction: column; 
}

.libro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.libro-details {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    text-align: center; 
}

.libro-details h2,
.libro-details h4 {
    color: orange;
}

::placeholder {
    color: black;
    opacity: 1; 
}

/* Media Queries */
@media (min-width: 768px) {
    .filter-group input,
    .filter-group select {
        min-width: 150px;
    }

    .libros-content {
        flex-direction: row; 
    }

    .libro-details {
        text-align: left; 
    }
}

@media (min-width: 1200px) {
    .filter-group input,
    .filter-group select {
        min-width: 200px;
    }
}
