<div class="body">
    <div class="container">
        <div class="filter">
            <div class="dropdown">
                <button class="dropdown-toggle"><i class="fas fa-user"></i> Autor</button>
                <div class="dropdown-menu">
                    <ul>
                        @for (author of authors; track author) {
                        <li><a (click)="searchByAuthor(author)">{{ author }}</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle"><i class="fas fa-book"></i> Título</button>
                <div class="dropdown-menu">
                    <ul>
                        @for (title of titles; track title) {
                        <li><a (click)="searchByName(title)">{{ title }}</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle"><i class="fas fa-tags"></i> Categoría</button>
                <div class="dropdown-menu">
                    <ul>
                        @for (genere of categories; track genere) {
                        <li><a (click)="searchByGenere(genere)">{{ genere }}</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle"><i class="fas fa-check"></i> Disponibilidad</button>
                <div class="dropdown-menu">
                    <ul>
                        @for (availability of availability; track availability) {
                        <li><a (click)="searchByAvailability(availability)">{{ availability }}</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <ul class="catalog-list">
                @if (result != []) {
                @for (book of result; track book) {
                <li class="catalog-item">
                    <div class="libros-content">
                        <div class="libro-image">
                            <img src="{{ book.image}}" alt="Imagen de libro">
                        </div>
                        <div class="libro-details">
                            <h2>{{ book.name }}</h2>
                            <p><strong>Género:</strong> {{ book.genere }}</p>
                            <p><strong>Autor:</strong> {{ book.author }}</p>
                            <p><strong>Disponibilidad:</strong> {{ book.availability }}</p>
                            <button *ngIf="book.id !== undefined" class="btn-aplicar" (click)="createLoan(book.id)">
                                <i class="fas fa-hand-holding"></i> Pedir
                            </button>
                        </div>
                    </div>
                </li>
                }
                }
            </ul>
        </div>
    </div>
</div>
