<div class="body">
    <div class="container">
        <div class="filter">
            <div class="dropdown">
                <button class="dropdown-toggle">Autor</button>
                <div class="dropdown-menu">
                    <ul>
                        @for (author of authors; track author) {
                        <li><a (click)="searchByAuthor(author)">{{ author }}</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle">Titulo</button>
                <div class="dropdown-menu">
                    <ul>
                        @for (title of titles; track title) {
                        <li><a (click)="searchByName(title)">{{ title }}</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle">Categoria</button>
                <div class="dropdown-menu">
                    <ul>
                        @for (genere of categories; track genere) {
                        <li><a (click)="searchByGenere(genere)">{{ genere }}</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle">Disponibilidad</button>
                <div class="dropdown-menu">
                    <a>Disponible</a>
                    <a>No disponible</a>
                    <a>Reservado</a>
                </div>
            </div>

        </div>
        <div class="content">
            <ul>
                @if (result != []) {
                @for (book of result; track book) {
                <li>
                    <div class="libros-content">

                        <div class="libro-image">
                            <img src="{{ book.image}}" alt="imagen de libro">
                        </div>
                        <div class="libro-details">
                            <h2>{{ book.name }}</h2>
                            <br>
                            <h4>{{ book.genere }}</h4>
                            <br>
                            <h4>{{ book.author }}</h4>
                            <br>
                            <h4>{{ book.availability }}</h4>
                            <button *ngIf="book.id !== undefined" class="btn-aplicar" (click)="createLoan(book.id)">pedir</button><br>
                        </div>

                    </div>
                </li>
                }
                }
            </ul>
        </div>
    </div>
</div>