<div class="container">
    <div class="content">

        <ul>
            @for (book of catalog; track book) {
            <li>
                <div class="libros-content">

                    <div class="libro-image">
                        <img src="{{ book.image}}" alt="imagen de libro">                   
                        <!-- <button class="btn-borrar" (click)="borrarlibro(libro.id)">Borrar</button><br> -->
                    </div>
                    <div class="libro-details">
                        <h2>{{ book.name }}</h2>
                        <br>
                        <h4>{{ book.genere }}</h4>
                        <br>
                        <h4>{{ book.author }}</h4>
                        <br>
                        <h4>{{ book.availability }}</h4>
                    </div>

                </div>
            </li>
            }
        </ul>

</div>
</div>