<div class="container">
    <<div class="content">

        <ul>
            @for (libro of libros; track libro) {
            <li>
                <div class="libros-content">

                    <div class="libro-image">
                        <img src="{{ libro.imageLink.thumbnail}}" alt="imagen de libro">
                        @if (rol === 'admin') {
                        <!-- <button class="btn-borrar" (click)="borrarlibro(libro.id)">Borrar</button><br> -->
                        }
                    </div>
                    <div class="libro-details">
                        <h2>{{ libro.title }}</h2>
                        <br>
                        <h4>{{ libro.publisher }}</h4>
                        <br>
                        <p>{{ libro.description }}</p>
                    </div>

                </div>
            </li>
            }
        </ul>

</div>
</div>