<div class="container">
    <form class="form">
        <h2 class="form-title">Iniciar Sesion</h2>

        <div class="form-container">

            <div class="form-group">
                <input type="text" class="form-input" id="user" placeholder=" " [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                <label for="user" class="form-label">Nombre de usuario:</label>
                <span class="form-line"></span>
            </div>

            <div class="form-group">
                <input type="password" class="form-input" id="password" placeholder=" " [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <label for="password" class="form-label">Contraseña:</label>
                <span class="form-line"></span>
            </div>

            <input type="button" value="Entrar" class="form-submit" (click)="verificarUsuario()" routerLink="">

            <p class="form-paragraph">¿Aún no tienes tu cuenta? <a routerLink= 'register' class="form-link">Entra aqui</a></p>
        </div>
    </form>
</div>