<header>
    <div class="interior">
        <a routerLink='' class="logo"><img src="assets\logo.png" alt=""></a>
        <nav class="navegacion">
            <ul>
                <li><a routerLink="/catalogo">Catálogo</a></li>
                <li class="submenu">
                    <a>Opciones</a>
                    <ul class="subindex">
                        <li><a routerLink="/ugestion">Gestionar usuarios</a></li>
                        <li><a routerLink="/buscador">Agregar libros</a></li>
                        <li><a (click)="logOut()">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
