@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/728/926/542/library-ladders-candles-shelves-wallpaper-a28152c01d26befb6a08f2c5c0f85942.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Nunito", sans-serif;
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #fe9b31;
    text-align: center;
    margin-bottom: 20px;
}

.title i {
    margin-right: 10px;
}

.container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    position: relative;
}

.form-group.full-width {
    width: 100%;
}

.form-group span {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fe9b31;
}

.form-group i {
    position: absolute;
    top: 36px;
    left: 10px;
    color: #fe9b31;
}

.form-group input {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fe9b31;
    padding-left: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fe9b31;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #fe9b31;
    background-color: rgba(0, 0, 0, 0.8);
}

.button {
    width: 100%;
    margin-top: 20px;
}

.button input {
    width: 100%;
    height: 50px;
    outline: none;
    cursor: pointer;
    background-color: #fe9b31;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.button input:hover {
    background-color: #e88c25;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }

    .form-group {
        width: 100%;
        margin-bottom: 15px;
    }

    .container form {
        max-height: 400px;
        overflow-y: auto;
    }

    .container form::-webkit-scrollbar {
        width: 0;
    }

    .button {
        margin-top: 20px;
    }
}
