@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.content {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/728/926/542/library-ladders-candles-shelves-wallpaper-a28152c01d26befb6a08f2c5c0f85942.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    overflow: auto;
}

.history-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    margin: 5px auto;
    border-radius: 15px;
    border: 1px solid orange;
    overflow: auto;
    max-width: 600px;
}

.history-details{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: white;
}

p {
    font-family: "Nunito", sans-serif;
    color: orange;
}

.top-user, .top-book {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid orange;
    border-radius: 15px;
    padding: 15px;
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

.top-user p, .top-book p {
    font-family: "Nunito", sans-serif;
    color: orange;
}

.top-user h2, .top-book h2 {
    color: white;
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px;
}
