@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.container {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/728/926/542/library-ladders-candles-shelves-wallpaper-a28152c01d26befb6a08f2c5c0f85942.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    overflow: auto;
}

.buscador {
    display: flex;
    justify-content: center;
}

.libros-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(30px);
    margin: 10px 10px;
    border-radius: 15px;
    border: 1px solid orange;
    overflow: auto;
}

.libro-image {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.libro-details {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: white;
}

.libro-details h2 {
    color: orange;
}

.libro-details h4 {
    color: orange;
}

.button {
    width: 100%;
    height: 40px;
    background-color: orange;
    margin: 5px 0;
    border-radius: 10px;
}

.s-button {
    width: 10%;
    height: 40px;
    border-radius: 10px;
    background-color: orange;
    margin: 5px 0;
    cursor: pointer;
}

.s-bar {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0;
    outline: none;
    background-color: transparent;
    border: 1px solid orange;
    backdrop-filter: blur(30px);
    color: orange;
}

