<div class="container">
    <div class="buscador">
        <input type="text" id="buscador" placeholder="Título del libro*" [(ngModel)]="name" class="s-bar">
        <input type="button" value="🔎 Buscar" (click)="searchBook()" class="s-button">
    </div>

    <div class="content">
        <div *ngIf="books.length > 0">
            <ul class="books-list">
                <li *ngFor="let book of books" class="book-item">
                    <div class="libros-content">
                        <div *ngIf="book.imageLinks && book.title && book.authors && book.publisher && book.categories && book.description">
                            <div class="libro-image">
                                <img [src]="book.imageLinks.smallThumbnail" alt="Imagen de libro">
                                <input type="button" value="Agregar Libro" class="btn-agregar" (click)="addBook(book.title, book.categories[0], book.imageLinks.smallThumbnail, book.authors[0])">
                            </div>
                            <div class="libro-details">
                                <h2>{{ book.title }}</h2>
                                <h3>{{ book.authors[0] }}</h3>
                                <h4>{{ book.publisher }}</h4>
                                <p><strong>Categoría:</strong> {{ book.categories[0] }}</p>
                                <p class="book-description">{{ book.description }}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="books.length === 0">
            <p>No se encontraron libros.</p>
        </div>
    </div>
</div>
