<header>
    <div class="interior">
        <a routerLink='' class="logo"><img src="assets\logo.png" alt=""></a>
        <nav class="navegacion">
            <ul>
                <li><a routerLink='/catalogo'>Catálogo</a></li>
                <li class="submenu">
                    <a>Opciones</a>
                    <ul class="subindex">
                        <li><a routerLink='/register' (click)="enviarid()">Editar perfil</a></li>
                        <li><a routerLink='' (click)="cerrarSesion()">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li><a>{{ user }}</a></li>
            </ul>
        </nav>
    </div>
</header>
