<div class="background">
    <div class="container">
        <div class="title">Datos del Cliente</div>
        <form>

            <div class="form-group">
                <span>Correo Electronico: </span>
                <input type="email" id="correo" placeholder="Ingrese su correo elecronico*" [(ngModel)]="email"
                    [ngModelOptions]="{standalone: true}" [readOnly]="true">
            </div>

   
            <div class="form-group">
                <span>Rol: </span>
                <input type="text" id="rol" placeholder="Ingrese su rol admin* o client*" [(ngModel)]="rol"
                    [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <span>Contraseña: </span>
                <input type="password" id="contrseña" placeholder="Ingrese su contraseña*" [(ngModel)]="password"
                    [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <span>Confirmar Contraseña: </span>
                <input type="password" id="contrseñaC" placeholder="Confirme su contraseña*" [(ngModel)]="passwordC"
                    [ngModelOptions]="{standalone: true}">
            </div>

            <div class="button">
                <input type="button" value="Modificar" (click)="modifyAccount()">
            </div>
        </form>
    </div>
</div>